.header {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 130px;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
