.pad {
  background-color: $t0-color-pad;
  height: 300px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  padding: 20px;
}

.reset {
  grid-area: 5 / 1 / span 1 / span 2;
}

.equal {
  grid-area: 5 / 3 / span 1 / span 2;
}

.button-large {
  grid-area: large;
}
