@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

// theme 1
$t0-color-main: #3b4664;
$t0-color-screen: #181f32;
$t0-color-pad: #252d44;
$t0-color-button-1-0: #eae3db;
$t0-color-button-1-1: #ada7a3;
$t0-color-button-1-2: white;
$t0-color-button-2-0: #647299;
$t0-color-button-2-1: #374462;
$t0-color-button-2-2: EAE3DB;
$t0-color-button-3-0: #d13f30;
$t0-color-button-3-1: #692a2c;
$t0-color-button-3-2: EAE3DB;
$t0-output: #eeeeee;
$t0-white: #eeeeee;

// theme 2
$t1-color-main: #e6e6e6;
$t1-color-screen: #eeeeee;
$t1-color-pad: #d3cdcd;
$t1-color-button-2-0: #647299;
$t1-color-button-3-0: #c85401;
$t1-output: #35352d;

// theme 3
$t2-color-main: #17062a;
$t2-color-screen: #1e0836;
$t2-color-pad: #1e0836;
$t2-color-button-2-0: #56077c;
$t2-color-button-3-0: #00decf;
$t2-output: #fae358;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $t0-color-main;
  font-family: $font-1;
  max-width: 375px;
  margin: 30px auto;
  color: $t0-white;

  &.t1 {
    background: $t1-color-main;
  }
  &.t2 {
    background: $t2-color-main;
  }
}

li {
  list-style-type: none;
  // float: left;
}

p {
  font-size: 12px;
}
